.bv-example-row {
    margin-top: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #393e46;
  }
  .casos {
    background-color: #fae0df;
    padding: 20px;
    border-radius: 50px;
  }
  .avatar {
    width:130px;
    height:130px;
    border-radius:100px;
    margin-left: 150px;
  }
  .casos-text {
    font-size: 17px;
    font-weight: 400;
  }
  .casos-linea {
        align-items: center;
  }
