.bv-example-row {
    margin-top: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #393e46;
  }
  .casos {
    background-color: #fae0df;
    padding: 20px;
    border-radius: 50px;
  }
  .avatar {
    width:130px;
    height:130px;
    border-radius:100px;
    margin-left: 150px;
  }
  .casos-text {
    font-size: 17px;
    font-weight: 400;
  }
  .casos-linea {
        align-items: center;
  }
  .title-fotos {
    padding-top: 50px;
}
.foto {
    width: 40%;
    border-radius: 50px;
}
.el-form-item__label {
    color: white !important;
}
.formulario {
    background-color: rgba(33, 33, 33, 0.6);
    padding: 50px;
    border-radius: 50px;
}
.carga {
    align-self: flex-end;
}
.text-videos {
    padding-top: 50px;
}
.box {
    background-color: darkmagenta;
    height: 90%;
}

@media (max-width: 575.98px) {
  .bv-example-row {
    margin-top: 115px;
  }
  .bajada-title {
    display: none;
  }
  
}


