.bv-example-row {
    margin-top: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #393e46;
  }
  .casos {
    background-color: #fae0df;
    padding: 20px;
    border-radius: 50px;
  }
  .avatar-caso {
    width:130px;
    height:130px;
    border-radius:100px;
  }
  .casos-text {
    font-size: 17px;
    font-weight: 400;
  }
  .casos-linea {
    align-items: center;
  }
  .title-fotos {
    padding-top: 50px;
}
.foto {
    width: 40%;
    border-radius: 50px;
}
.el-form-item__label {
    color: white !important;
}
.formulario {
    background-color: rgba(33, 33, 33, 0.6);
    padding: 50px;
    border-radius: 50px;
}
.carga {
    align-self: flex-end;
}
.text-videos {
    padding-top: 50px;
}
.box {
    background-color: darkmagenta;
    height: auto;
}
.title-registro {
  padding-top: 50px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #fae0df;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.el-icon-plus,
.avatar-uploader-icon {
  line-height: 160px !important;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
  margin:auto;
}

.el-upload-list__item-name {
  color: #606266;
  display: block;
  margin-right: 40px;
  overflow: hidden;
  padding-left: 4px;
  text-overflow: ellipsis;
  transition: color .3s;
  white-space: nowrap;
  background-color: white;
  font-weight: 400;
  border-radius: 50px;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff !important;
  border-color: #c1c1c1 !important;
  background-color: #f56c6c !important;
}
.col-form-label {
  padding-top: calc(.375rem + 1px);
  padding-bottom: calc(.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
  font-weight: 600 !important;
}

.text-profile {
  font-size: 15px;
  padding-top: 10px;
  font-weight: 400;
  text-align: left;
}

@media (max-width: 575.98px) {
  .bv-example-row {
    margin-top: 115px;
  }
  .bajada-title {
    display: none;
  }
  .background-home {
    background-image: '../assets/img/woman.jpg';
    background-size: contain;
    background-position: top;
  }
  .upload-demo .el-upload-dragger {
    width: 300px;
  }
  .el-form .el-form-item__label {
    text-align: left;
  }
  
}


