.texto-home {
    padding-left: 100px;
  }
  .background-home {
    background-image: url('../assets/img/woman.jpg');
    background-size: cover;
    height: 800px;
    max-width: 100%;
    background-repeat: no-repeat;
  }